@using Microsoft.AspNetCore.Http

@if (Context.Session.GetString("_Name") == null)
{
    <li class="nav-item my-auto ms-3 ms-lg-0">
        <a href="/Register" class="btn btn-sm btn-outline-primary btn-round mb-0 me-1 mt-2 mt-md-0">Register</a>
    </li>

    <li class="nav-item my-auto ms-3 ms-lg-0">
        <a href="/Login" class="btn btn-sm  bg-gradient-dark  btn-round mb-0 me-1 mt-2 mt-md-0">Login</a>
    </li>
}
else
{
    <li class="nav-item my-auto ms-3 ms-lg-0">
        <a href="/AccountManagement" class="btn btn-sm btn-outline-primary btn-round mb-0 me-1 mt-2 mt-md-0">@Context.Session.GetString("_Name")</a>
    </li>

    <li class="nav-item my-auto ms-3 ms-lg-0">
        <a href="/Logout" class="btn btn-sm  bg-gradient-dark  btn-round mb-0 me-1 mt-2 mt-md-0">Logout</a>
    </li>
}