@page
@model CoffeeCatPlatform.Pages.PromotionPages.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "_DashboardLayout";
}

@* <h1>Edit</h1>

<h4>Promotion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Promotion.PromotionId" />
            <div class="form-group">
                <label asp-for="Promotion.Name" class="control-label"></label>
                <input asp-for="Promotion.Name" class="form-control" />
                <span asp-validation-for="Promotion.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Promotion.Description" class="control-label"></label>
                <input asp-for="Promotion.Description" class="form-control" />
                <span asp-validation-for="Promotion.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Promotion.PromotionType" class="control-label"></label>
                <input asp-for="Promotion.PromotionType" min="0" max="1" class="form-control" />
                <span asp-validation-for="Promotion.PromotionType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Promotion.PromotionAmount" class="control-label"></label>
                <input asp-for="Promotion.PromotionAmount" class="form-control" />
                <span asp-validation-for="Promotion.PromotionAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div> *@

<body class="g-sidenav-show  bg-gray-100">
    <main class="main-content position-relative max-height-vh-100 h-100 mt-1 border-radius-lg ">
        <!-- Navbar -->
        <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
            <div class="container-fluid py-1 px-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                        <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages</a></li>
                        <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Promotion</li>
                    </ol>
                    <h6 class="font-weight-bolder mb-0">Create a new promotion</h6>
                </nav>
                <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
                    <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                        <div class="input-group">
                            <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" placeholder="Type here...">
                        </div>
                    </div>
                    <ul class="navbar-nav  justify-content-end">
                        <li class="nav-item d-flex align-items-center">
                            <a href="javascript:;" class="nav-link text-body font-weight-bold px-0">
                                <i class="fa fa-user me-sm-1"></i>
                                <span class="d-sm-inline d-none">@HttpContext.Session.GetString("_Name")</span>
                            </a>
                        </li>
                        <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
                            <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                                <div class="sidenav-toggler-inner">
                                    <i class="sidenav-toggler-line"></i>
                                    <i class="sidenav-toggler-line"></i>
                                    <i class="sidenav-toggler-line"></i>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item px-3 d-flex align-items-center">
                            <a href="javascript:;" class="nav-link text-body p-0">
                                <i class="fa fa-cog fixed-plugin-button-nav cursor-pointer"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Navbar -->
        <div class="container-fluid py-4">
            <div class="row">
                <div class="col-12">
                    <div class="card mb-4">
                        <div class="card-header pb-0">
                            <h5 class="mb-0">New Promotion</h5>
                            <p class="text-sm mb-0">
                                Adding a new promotion to database.
                            </p>
                        </div>
                        <div class="card-body px-0 pb-0">
                            <form role="form" id="contact-form" method="post" autocomplete="off">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Name</label>
                                            <div class="input-group mb-4">
                                                <input asp-for="Promotion.Name" class="form-control" />
                                                <span asp-validation-for="Promotion.Name" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 ps-2">
                                            <label>Description</label>
                                            <div class="input-group mb-4">
                                                <input asp-for="Promotion.Description" class="form-control" />
                                                <span asp-validation-for="Promotion.Description" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 ps-2">
                                            <label>Type</label>
                                            <div class="input-group">
                                                <select asp-for="Promotion.PromotionType" class="form-control">
                                                    <option value="0">Flat</option>
                                                    <option value="1">Percentage</option>
                                                </select>
                                                <span asp-validation-for="Promotion.PromotionType" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 ps-2">
                                            <label>Amount</label>
                                            <div class="input-group">
                                                <input asp-for="Promotion.PromotionAmount" class="form-control" />
                                                <span asp-validation-for="Promotion.PromotionAmount" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div>
                                            <div asp-validation-summary="All" class="text-danger"></div>
                                        </div>
                                        <div class="col-md-12">
                                            <button type="submit" class="btn bg-gradient-dark w-100">CREATE</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="card-body">
                                <div class="col-md-12 d-flex align-items-center justify-content-center">
                                    <a href="/PromotionPages/Index">
                                        <button type="button" class="btn bg-gradient-danger w-100">
                                            BACK TO LIST
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        // Add a script section for client-side validation
        $(document).ready(function () {
            $('form').submit(function () {
                var promotionType = $('#Promotion_PromotionType').val();
                var promotionAmount = $('#Promotion_PromotionAmount').val();

                // Check if promotion type is 1 and amount is greater than 100
                if (promotionType === '1' && parseFloat(promotionAmount) > 100) {
                    alert('Promotion amount cannot exceed 100 for Promotion Type 1.');
                    return false; // Cancel form submission
                }

                // Continue with form submission
                return true;
            });
        });
    </script>
}
