@page "/CreateArea"
@model CoffeeCatPlatform.Pages.AreaManagement.CreateAreaModel

@{
    ViewData["Title"] = "CreateArea";
}

<h1>CreateArea</h1>

<h4>Area</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Area.Location" class="control-label"></label>
                <input asp-for="Area.Location" class="form-control" />
                <span asp-validation-for="Area.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
