@page "/MenuEdit"
@model CoffeeCatPlatform.Pages.MenuPages.MenuEditModel

@{
    ViewData["Title"] = "MenuEdit";
}

<h1>MenuEdit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Product.ProductId" />
            <div class="form-group">
                <label asp-for="Product.Name" class="control-label"></label>
                <input asp-for="Product.Name" class="form-control" />
                <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Description" class="control-label"></label>
                <input asp-for="Product.Description" class="form-control" />
                <span asp-validation-for="Product.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Price" class="control-label"></label>
                <input asp-for="Product.Price" class="form-control" />
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Quantity" class="control-label"></label>
                <input asp-for="Product.Quantity" class="form-control" />
                <span asp-validation-for="Product.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.ImageUrl" class="control-label"></label>
                <input asp-for="Product.ImageUrl" class="form-control" />
                <span asp-validation-for="Product.ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.ShopId" class="control-label"></label>
                <select asp-for="Product.ShopId" class="form-control" asp-items="ViewBag.ShopId"></select>
                <span asp-validation-for="Product.ShopId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<section>
    <div class="container py-4">
        <div class="row">
            <div class="col-lg-7 mx-auto d-flex justify-content-center flex-column">
                <h3 class="text-center">CHANGING CAT'S INFORMATION</h3>
                <form role="form" id="contact-form" method="POST" autocomplete="off" asp-page-handler="Edit">
                    <div class="card-body">
                        <div class="row">
                            <div class="mb-4">
                                <label asp-for="Product.ProductId"></label>
                                <div class="input-group">
                                    <input asp-for="Product.ProductId" class="form-control" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label asp-for="Product.Name"></label>
                                <div class="input-group mb-4">
                                    <input asp-for="Product.Name" class="form-control" placeholder="" aria-label="Name" type="text">
                                </div>
                            </div>
                            <div class="col-md-6 ps-2">
                                <label>Category</label>
                                <div class="input-group">
                                    <select asp-for="Product.CategoryId" class="form-control">
                                        <option value="1">Drink</option>
                                        <option value="2">Food</option>
                                        <option value="3">Toys</option>
                                        <option value="4">Cat Food</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 ps-2">
                                <label asp-for="Product.Price"></label>
                                <div class="input-group">
                                    <input asp-for="Product.Price" style="width:7em" type="number" min="0" class="form-control" placeholder="" aria-label="Last Name...">
                                </div>
                            </div>
                            <div class="col-md-6 ps-2">
                                <label>Starting quantity</label>
                                <div class="input-group">
                                    <input asp-for="Product.Quantity" style="display:flex" type="number" min="0" class="form-control" placeholder="" aria-label="Last Name...">
                                </div>
                            </div>
                        </div>
                        <div class="mb-4">
                            <label asp-for="Product.ImageUrl"></label>
                            <div class="input-group">
                                <input asp-for="Product.ImageUrl" type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <label asp-for="Product.Description"></label>
                            <textarea asp-for="Product.Description" class="form-control" id="message" rows="4"></textarea>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-check form-switch mb-4">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" checked="">
                                    <label class="form-check-label" for="flexSwitchCheckDefault">I consent to the <a href="javascript:;" class="text-dark"><u>changes made</u></a>.</label>
                                </div>
                            </div>
                            <div>
                                <div asp-validation-summary="All" class="text-danger"></div>
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="btn bg-gradient-dark w-100">SAVE CHANGES</button>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="col-sm-3 col-6 mx-auto">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn bg-gradient-danger w-100" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        DELETE
                    </button>

                    <!-- Modal -->

                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">COMFIRM YOUR DELETION</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    On accepting this change, the product's status will be set to Unavailable.
                                    <br><br>
                                    Are you sure?
                                </div>
                                <div class="modal-footer justify-content-between">
                                    <button type="button" class="btn bg-gradient-dark" data-bs-dismiss="modal">On second thoughts...</button>

                                    <form method="POST" asp-page-handler="Delete">
                                        <input type="hidden" asp-for="@Model.Product.ProductId" />
                                        <button type="submit" class="btn bg-gradient-danger">Confirm</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>





<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
