@page "/ContactUs"
@model CoffeeCatPlatform.Pages.AboutUsModel
@{
}
<title>Contact Us</title>

<h1>Contact Us</h1>

<h2>Contact Information</h2>
<ul>
    <li><strong>Address:</strong> Momoi & Midori,Ho Chi Minh City, 70000, VietNam</li>
    <li><strong>Phone:</strong> Main: </li>.
    <li><strong>Email:</strong> General Inquiries: <a href="#">info@example.com</a>.
</ul>

<h2>Social Media</h2>
<ul>
    <li>Facebook: <a href="#">Facebook Link</a></li>
    <li>Github: <a href="#">Github Link</a></li>
</ul>

<h2>Hours of Operation</h2>
<p>Our team is available to assist you during the following hours: [8 AM to 5PM]</p>
