@page "/AccountVerification"
@model CoffeeCatPlatform.Pages.AccountVerificationModel
@{
    ViewData["Title"] = "AccountVerification";
}

<div>
    <div class="card-footer text-center pt-0 px-lg-2 px-1">
        <p class="mb-4 text-sm mx-auto">
            @Model.Message
        </p>
    </div>
</div>