@page "/AccountVerification"
@model CoffeeCatPlatform.Pages.AccountVerificationModel
@{
    ViewData["Title"] = "AccountVerification";
}

<div class="alert alert-primary text-white font-weight-bold" role="alert" style="text-align:center">
    @Model.Message
</div>