@page "/"
@model CoffeeCatPlatform.Pages.HomepageModel
@{
    ViewData["Title"] = "Homepage";
}

<header>
    <div class="page-header min-vh-100">
        <div class="oblique position-absolute top-0 h-100 d-md-block d-none">
            <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6" style="background-image:url(../img/cat_coffee.jpg)"></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-7 d-flex justify-content-center flex-column">
                    <h1 class="text-gradient text-primary">Momoi & Midori</h1>
                    <h1 class="mb-4">Cat Café</h1>
                    <p class="lead pe-5 me-5">May your coffee be strong <br />and your cat naps be plentiful. </p>
                    <div class="buttons">
                        <button type="button" class="btn bg-gradient-primary mt-4">Get Started</button>
                        <button type="button" class="btn text-primary shadow-none mt-4">Read more</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="py-6">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto text-center pb-4">
                <h4 class="text-gradient text-primary">Momoi & Midori</h4>
                <h2>Cats and Coffee</h2>
                <p class="lead">At Momoi & Midori Cat Café, we prioritize two things - keeping humans caffeinated with great specialty coffee and cats happy and healthy.</p>
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <div class="row mb-5">
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 mx-md-auto">
                <a href="/ViewCat">
                    <div class="card card-background card-background-mask-primary mt-lg-0 mt-5">
                        <div class="full-background" style="background-image: url(&#39;https://post.healthline.com/wp-content/uploads/2020/07/petting_pet_cat-1296x728-header.jpg;)"></div>
                        <div class="card-body pt-7 text-center">
                            <div class="icon icon-lg up mb-5">
                            </div>
                            <h1 class="text-white up mb-0">Cats</h1>
                            <button type="button" class="btn btn-outline-white btn-lg mt-3 up">Check them out</button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 mx-md-auto">
                <a href="/Menu">
                    <div class="card card-background card-background-mask-primary mt-lg-0 mt-5">
                        <div class="full-background" style="background-image: url(&#39;https://img.freepik.com/free-photo/fresh-coffee-steams-wooden-table-close-up-generative-ai_188544-8923.jpg;)"></div>
                        <div class="card-body pt-7 text-center">
                            <div class="icon icon-lg up mb-5">
                            </div>
                            <h1 class="text-white up mb-0">Coffee</h1>
                            <button type="button" class="btn btn-outline-white btn-lg mt-3 up">See the menu</button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 mx-md-auto">
                <a href="/CreateReservation">
                    <div class="card card-background card-background-mask-primary mt-lg-0 mt-5">
                        <div class="full-background" style="background-image: url(&#39;https://img.freepik.com/free-photo/antique-hourglass-time-running-out-sand-generated-by-ai_188544-27610.jpg;)"></div>
                        <div class="card-body pt-7 text-center">
                            <div class="icon icon-lg up mb-5">
                            </div>
                            <h1 class="text-white up mb-0">Reservation</h1>
                            <button type="button" class="btn btn-outline-white btn-lg mt-3 up">Book now</button>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
