@page "/NotAuthorizedError"
@model CoffeeCatPlatform.Pages.ErrorPages.NotAuthorizedErrorModel
@{
    ViewData["Title"] = "NotAuthorizedError";
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="alert alert-primary text-white font-weight-bold" role="alert" style="text-align:center">
    You are not authorized!
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />