@page "/NotLoggedInError"
@model CoffeeCatPlatform.Pages.ErrorPages.NotLoggedInErrorModel
@{
    ViewData["Title"] = "NotLoggedInError";
}

<div class="alert alert-primary text-white font-weight-bold" role="alert" style="text-align:center">
    You must log in to use this function!
</div>